@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: "Kumbh Sans", sans-serif;
}

.App {
  height: 100vh;
  background-image: linear-gradient(hsl(273, 75%, 66%), hsl(240, 73%, 65%));
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  height: 60vh;
  width: 60vw;
  background-color: white;
  border-radius: 2rem;
  display: flex;
}

.col-2 {
  width: 50%;
  padding: 50px;
}

.col-img {
  background-image: url(./images/illustration-woman-online-desktop.svg);
  background-repeat: no-repeat;
  position: relative;
}

.box-desktop {
  position: absolute;
  left: 0;
}

.faq-section {
  font-size: 12px;
  margin-top: 1rem;
}

.faq-element {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid hsl(240, 5%, 91%);
  padding: 1rem 0;
}
